In [1]:
import numpy as np
import pandas as pd

In [2]:
email = "john@email.com"

In [3]:
email.split("@")

['john', 'email.com']

In [5]:
names = pd.Series(["andrew","bobo","claire","david","5"])

In [6]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [9]:
email.isdigit()

False

In [10]:
"5".isdigit()

True

In [11]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
tech_finance = ["GOOG,APPL,AMZN","JPM,BAC,GS"]

In [13]:
len(tech_finance)

2

In [14]:
tickers = pd.Series(tech_finance)

In [24]:
tickers.str.split(",")

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [25]:
tickers.str.split(",",expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [26]:
messy_names = pd.Series(["andrew  ","bo:bo","   claire   "])

In [27]:
messy_names

0        andrew
1           bo:bo
2       claire
dtype: object

In [41]:
messy_names.str.replace(";","").str.strip().str.capitalize()

0    Andrew
1     Bo:bo
2    Claire
dtype: object

In [45]:
# Custom Func

def cleanup(name):
    name = name.replace(" ","")
    name = name.strip()
    name = name.capitalize()
    return name

In [44]:
messy_names.apply(cleanup)

0    Andrew
1     Bo:bo
2    Claire
dtype: object